In [1]:
# key : value

dict1 = {
    'name' : 'Pervej Hosen'
}
print(dict1)

{'name': 'Pervej Hosen'}

In [2]:
print(type(dict1))

<class 'dict'>

In [3]:
dict2 = {
    "Name" : "Pervej",
    "Age" : "26",
    "Class" : "MSc"
}
print(dict2)

{'Name': 'Pervej', 'Age': '26', 'Class': 'MSc'}

In [4]:
dict2["Name"]

'Pervej'

In [5]:
dict3 = {
    "Name" : "Pervej",
    "Age" : "26",
    "Class" : "MSc",
    "Interest" : ['Footbal', 'Cricket']
}
print(dict3)

{'Name': 'Pervej', 'Age': '26', 'Class': 'MSc', 'Interest': ['Footbal', 'Cricket']}

In [6]:
dict3["Interest"]

['Footbal', 'Cricket']

In [7]:
dict3['Interest'][0]

'Footbal'

In [8]:
dict3['Name'] = 'Mustain'

In [9]:
dict3

{'Name': 'Mustain',
 'Age': '26',
 'Class': 'MSc',
 'Interest': ['Footbal', 'Cricket']}

In [10]:
dict3.update({'Name' : 'Billal'})
dict3

{'Name': 'Billal',
 'Age': '26',
 'Class': 'MSc',
 'Interest': ['Footbal', 'Cricket']}

In [11]:
dict3.pop('Age')
dict3

{'Name': 'Billal', 'Class': 'MSc', 'Interest': ['Footbal', 'Cricket']}

In [14]:
for dict_value in dict3.keys():
    print(dict_value)

Name
Class
Interest

In [15]:
for dict_value in dict3.values():
    print(dict_value)

Billal
MSc
['Footbal', 'Cricket']

In [16]:
for dict_value in dict3.items():
    print(dict_value)

('Name', 'Billal')
('Class', 'MSc')
('Interest', ['Footbal', 'Cricket'])

## String

In [19]:
a = "Hello Data Scientist"
a

'Hello Data Scientist'

In [22]:
a[0:5]

'Hello'

In [23]:
a[5:]

' Data Scientist'

In [26]:
a[-9:]

'Scientist'

In [27]:
a.lower()

'hello data scientist'

In [28]:
a.upper()

'HELLO DATA SCIENTIST'

In [29]:
a. split()

['Hello', 'Data', 'Scientist']

In [30]:
a.strip()

'Hello Data Scientist'

In [32]:
a.replace(' ','--')

'Hello--Data--Scientist'

In [33]:
age = 24
static_text = f'My age is 24'
static_text

'My age is 24'

In [34]:
age = 24
dynamic_text = f'My age is {age}'
dynamic_text

'My age is 24'

## List

In [35]:
list5 = ['asif', 'mustain', 'haidar']
list5

['asif', 'mustain', 'haidar']

In [36]:
list5[0]

'asif'

In [38]:
list5[2]

'haidar'

In [39]:
list5[0:2]

['asif', 'mustain']

In [42]:
list5[2] = 'ali'
list5

['asif', 'mustain', 'ali']

In [43]:
list5.append('Nahrul')
list5

['asif', 'mustain', 'ali', 'Nahrul']

In [44]:
list5.insert(1, 'Billa')
list5

['asif', 'Billa', 'mustain', 'ali', 'Nahrul']

In [47]:
list5.remove('Nahrul')
list5

['asif', 'Billa', 'mustain', 'ali']

In [48]:
list5.pop(1)
list5

['asif', 'mustain', 'ali']

In [49]:
for val in list5:
    print(val)

asif
mustain
ali

In [51]:
for val in range(1):
    print(list5[val])

asif

In [52]:
for val in range(len(list5)):
    print(list5[val])

asif
mustain
ali

In [54]:
list5.sort()
list5

['ali', 'asif', 'mustain']

## Nested loop

In [57]:
list7 = [1,2,3],[4,5,6],[7,8,9]

list7

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [59]:
list7[2][1]

8

In [65]:
# ***
# ***
# ***
for i in range(3):
    for j in range(3):
        print('*', end='')
    print()

***
***
***