In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pervej.hosen\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pervej.hosen\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [4]:
print(pd.__version__)

2.2.2

In [5]:
arr = [1,2,3,4,5]
s1 =pd.Series(arr)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
dict1 = {'a':4, 'b': 5, 'c': 10}
s2 = pd.Series(dict1)
s2

a     4
b     5
c    10
dtype: int64

## Creating a DataFrame

In [8]:
data = {'name': ['Asif', 'Mustain', 'Asad', 'Billah'],
        'Age': [10,13,14,17],
        'Gender': ['M','M','M','M']
        }
data

{'name': ['Asif', 'Mustain', 'Asad', 'Billah'],
 'Age': [10, 13, 14, 17],
 'Gender': ['M', 'M', 'M', 'M']}

In [9]:
df= pd.DataFrame(data)

In [10]:
df

      name  Age Gender
0     Asif   10      M
1  Mustain   13      M
2     Asad   14      M
3   Billah   17      M

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   Age     4 non-null      int64
 2   Gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes